*.MOV
*.mp4
~$*
Production Planning/*
Electrical/Board Design/clock.sch
*.bak
*bak
*.bck
*.cmp
*.pro
*.tmp
*.dcm
*.wrl
*.atsuo
*.atsln
Software/Firmware_Board1/Firmware_Board1/Debug/*.*
Media Campaign/Video/*.*
Software/Firmware_Board1/Firmware_Board1/Debug/Makefile
Media Campaign/kickstarter special requests.txt
Production Planning/costed parts list.xlsx
Electrical/Board Design/clock.bak
Electrical/Board Design/clock.bak
Marketing/*
"Production Planning/*"
Software/Alarm_Clock_Firmware/Alarm_Clock_Firmware/Alarm_Clock_Firmware.componentinfo.xml
* .cproj
Software/Alarm_Clock_Firmware/alarm_flash_test/Release
Software/Alarm_Clock_Firmware/Alarm_Clock_Firmware/Release
Software/Alarm_Clock_Firmware/Alarm_Clock_Firmware/Debug
*.cproj
*.hex
*.xml
*.o
*.d
*.eep
*.elf
*.mk
*.map
*.lss
*.srec
Makefile